@keyframes shake0 {
  0% {margin: 0px 10px -2px 2px}
  25% {margin: -2px 5px 4px -5px}
  50% {margin: 5px 6px -7px 7px}
  75% {margin: -0px 2px 10px -4px}
  100% {margin: 1px -8px 6px 1px}
}

@keyframes shake1 {
  0% {margin: -8px -5px 3px -4px}
  25% {margin: -5px 0px 4px -10px}
  50% {margin: -9px -9px -2px 5px}
  75% {margin: -6px -3px 3px 7px}
  100% {margin: -3px -1px 3px 5px}
}

@keyframes shake2 {
  0% {margin: -10px -4px 5px 7px}
  25% {margin: 9px 0px -7px -8px}
  50% {margin: 2px 4px 2px -5px}
  75% {margin: -7px -7px 6px 5px}
  100% {margin: -6px 0px -2px -9px}
}

@keyframes shake3 {
  0% {margin: -1px 7px -5px -9px}
  25% {margin: -5px 4px 7px 5px}
  50% {margin: 4px -10px -2px -9px}
  75% {margin: 6px -2px -9px -2px}
  100% {margin: -4px -5px -5px -7px}
}

@keyframes shake4 {
  0% {margin: 2px -10px -5px -10px}
  25% {margin: -6px 2px 8px 4px}
  50% {margin: 8px -3px -10px -3px}
  75% {margin: -9px -10px 9px -1px}
  100% {margin: 5px 8px 3px -4px}
}

@keyframes shake5 {
  0% {margin: -9px 9px -4px 9px}
  25% {margin: 1px 1px -10px -9px}
  50% {margin: 6px -5px 2px -2px}
  75% {margin: 0px 2px -9px -5px}
  100% {margin: -10px 9px 0px -8px}
}

@keyframes shake6 {
  0% {margin: -1px 2px 4px -9px}
  25% {margin: -7px 5px -5px 5px}
  50% {margin: 3px 1px -3px 6px}
  75% {margin: 2px 8px -6px -8px}
  100% {margin: -9px 8px 2px -6px}
}

@keyframes shake7 {
  0% {margin: -10px -8px 1px -7px}
  25% {margin: 4px -5px -5px 8px}
  50% {margin: 1px -8px 2px -4px}
  75% {margin: -8px 9px 1px -7px}
  100% {margin: -6px 4px -5px -3px}
}

@keyframes shake8 {
  0% {margin: 3px -7px -2px 0px}
  25% {margin: 2px 6px -5px 7px}
  50% {margin: -7px 0px 5px -5px}
  75% {margin: 8px -4px 3px -1px}
  100% {margin: 0px -6px 7px 2px}
}

@keyframes shake9 {
  0% {margin: 4px -8px 1px 3px}
  25% {margin: -8px -1px 6px 7px}
  50% {margin: -5px 0px -2px -5px}
  75% {margin: 0px -1px -7px -4px}
  100% {margin: 8px 4px -3px 9px}
}

@keyframes shake10 {
  0% {margin: 3px 7px 7px -6px}
  25% {margin: -4px -10px 6px -5px}
  50% {margin: -3px -7px -10px 0px}
  75% {margin: -10px 6px -6px -5px}
  100% {margin: 6px -8px -2px -8px}
}

@keyframes blur {
  0% {filter: blur(0px)}
  100% {filter: blur(2000px)}
}

@keyframes drop0 {
  0% {margin-top: 0px}
  20% {margin-top: -55px}
  100% {margin-top: 700px; opacity: 0}
}
@keyframes drop1 {
  0% {margin-top: 0px}
  20% {margin-top: -105px}
  100% {margin-top: 650px; opacity: 0}
}
@keyframes drop2 {
  0% {margin-top: 0px}
  10% {margin-top: -25px}
  80% {margin-top: 650px; opacity: 0}
  100% {margin-top: 650px; opacity: 0}
}

@keyframes zIndex {
  0% {z-index: 2}
  99.1% {z-index: 2}
  100% {z-index: 0}
}

@keyframes hyokkaa0 {
  0% {transform: scale(1.25)}
  60% {transform: scale(1)}
  100% {transform: scale(1)}
}

@keyframes hyokkaa1 {
  0% {transform: scale(1.25)}
  60% {transform: scale(1)}
  100% {transform: scale(1)}
}

@keyframes pelaajaShake0 {
  0% {margin: 3px 7px 7px -6px; transform: scale(1.1)}
  25% {margin: -4px -10px 6px -5px}
  50% {margin: -3px -7px -10px 0px}
  75% {margin: -10px 6px -6px -5px}
  100% {margin: 6px -8px -2px -8px; transform: scale(1)}
}

@keyframes pelaajaShake1 {
  0% {margin: -1px 2px 4px -9px; transform: scale(1.1)}
  25% {margin: -7px 5px -5px 5px}
  50% {margin: 3px 1px -3px 6px}
  75% {margin: 2px 8px -6px -8px}
  100% {margin: -9px 8px 2px -6px; transform: scale(1)}
}

@keyframes bodyBlood {
  0% {background-color: #4b0b0b}
  100% {background-color: #151515}
}

@keyframes voittoIkkuna {
  0% { transform: translateX(-50%) translateY(-50%) scale(0)}
  50% { transform: translateX(-50%) translateY(-50%) scale(0)}
  60% { transform: translateX(-50%) translateY(-50%) scale(0.84)}
  70% { transform: translateX(-50%) translateY(-50%) scale(1.15)}
  75% { transform: translateX(-50%) translateY(-50%) scale(1.14)}
  100% {transform: translateX(-50%) translateY(-50%) scale(1.00)}
}

@keyframes tummentuma {
  0% {opacity: 0; transform: scale(1)}
  100% {opacity: 1; transform: scale(1)}
}

@keyframes vihollinen_kuolee {
  0% {z-index: -1; left: 4px; top: 0px}
  1% {left: -7px; top: 51px}
  2% {left: -5px; top: 58px}
  3% {left: 3px; top: 53px}
  4% {left: -3px; top: 48px}
  5% {left: 1px; top: 49px}
  6% {left: 3px; top: 49px}
  7% {left: -2px; top: 42px}
  8% {left: -4px; top: 45px}
  9% {left: -3px; top: 41px}
  11% {left: 9px; top: 49px}
  12% {left: 5px; top: 58px}
  13% {left: 8px; top: 46px}
  10% {left: -1px; top: 43px}
  14% {left: -9px; top: 58px}
  15% {left: 2px; top: 45px}
  16% {left: -10px; top: 56px}
  17% {left: -8px; top: 56px}
  18% {left: -10px; top: 53px}
  19% {left: -9px; top: 49px}
  20% {left: -4px; top: 53px}
  21% {left: 1px; top: 45px}
  22% {left: -8px; top: 53px}
  23% {left: 6px; top: 48px}
  24% {left: 9px; top: 57px}
  25% {left: 3px; top: 59px}
  26% {left: 3px; top: 47px}
  27% {left: 10px; top: 55px}
  28% {left: -4px; top: 53px}
  29% {left: -9px; top: 56px}
  30% {left: -4px; top: 52px}
  31% {left: -6px; top: 48px}
  32% {left: -7px; top: 60px}
  33% {left: 6px; top: 52px}
  34% {left: 6px; top: 43px}
  35% {left: -2px; top: 53px}
  36% {left: -6px; top: 53px}
  37% {left: -6px; top: 54px}
  38% {left: 9px; top: 57px}
  39% {left: -1px; top: 47px}
  40% {left: null; top: 50px}
  50% {margin: 3px}
  59% {margin: -800px -165px 0px -165px}

  100% {
    margin: -800px -165px 0px -165px;
    z-index: -1;
  }
}

@keyframes piilota_slot_popup {
  0% {opacity: .95;}
  99.9% {opacity: .95;}
  100% {opacity: 0;}
}