@keyframes shake0 {
  0% {left: 1px; top: 4px}
  25% {left: -1px; top: -9px}
  50% {left: 1px; top: -4px}
  75% {left: -5px; top: -10px}
  100% {left: -9px; top: 8px}
}

@keyframes shake1 {
  0% {left: 9px; top: -9px}
  25% {left: 4px; top: -6px}
  50% {left: 8px; top: -1px}
  75% {left: -1px; top: -10px}
  100% {left: 0px; top: -9px}
}

@keyframes shake2 {
  0% {left: 10px; top: -6px}
  25% {left: 4px; top: -2px}
  50% {left: 8px; top: -9px}
  75% {left: -8px; top: 2px}
  100% {left: 7px; top: 8px}
}

@keyframes shake3 {
  0% {left: -4px; top: -2px}
  25% {left: 6px; top: 9px}
  50% {left: 8px; top: 1px}
  75% {left: 4px; top: 9px}
  100% {left: 9px; top: -4px}
}

@keyframes shake4 {
  0% {left: 7px; top: 8px}
  25% {left: 0px; top: 8px}
  50% {left: -5px; top: 2px}
  75% {left: 0px; top: -10px}
  100% {left: -3px; top: 4px}
}

@keyframes shake5 {
  0% {left: 4px; top: -9px}
  25% {left: -10px; top: 1px}
  50% {left: -1px; top: -8px}
  75% {left: -4px; top: -9px}
  100% {left: 2px; top: -4px}
}

@keyframes shake6 {
  0% {left: 2px; top: 8px}
  25% {left: 4px; top: -9px}
  50% {left: -9px; top: -3px}
  75% {left: 3px; top: 8px}
  100% {left: 7px; top: 3px}
}

@keyframes shake7 {
  0% {left: 3px; top: 0px}
  25% {left: 2px; top: -1px}
  50% {left: -2px; top: -5px}
  75% {left: -9px; top: -6px}
  100% {left: 2px; top: 4px}
}

@keyframes shake8 {
  0% {left: -6px; top: -6px}
  25% {left: -5px; top: 5px}
  50% {left: 6px; top: 1px}
  75% {left: -8px; top: 0px}
  100% {left: -4px; top: -6px}
}

@keyframes shake9 {
  0% {left: 8px; top: 6px}
  25% {left: 9px; top: 2px}
  50% {left: -2px; top: 5px}
  75% {left: -3px; top: -9px}
  100% {left: 1px; top: -2px}
}

@keyframes blur {
  0% {filter: blur(0px)}
  100% {filter: blur(2000px)}
}

@keyframes drop0 {
  0% {margin-top: 0px}
  20% {margin-top: -55px}
  100% {margin-top: 700px; opacity: 0}
}
@keyframes drop1 {
  0% {margin-top: 0px}
  20% {margin-top: -105px}
  100% {margin-top: 650px; opacity: 0}
}
@keyframes drop2 {
  0% {margin-top: 0px}
  10% {margin-top: -25px}
  80% {margin-top: 650px; opacity: 0}
  100% {margin-top: 650px; opacity: 0}
}

@keyframes zIndex {
  0% {z-index: 2}
  99.1% {z-index: 2}
  100% {z-index: 0}
}

@keyframes hyokkaa0 {
  0% {transform: scale(1.25)}
  60% {transform: scale(1)}
  100% {transform: scale(1)}
}

@keyframes hyokkaa1 {
  0% {transform: scale(1.25)}
  60% {transform: scale(1)}
  100% {transform: scale(1)}
}

@keyframes paranna0 {
  0% {transform: scale(1)}
  99.9% {transform: scale(.5)}
  100% {transform: scale(1)}
}

@keyframes paranna1 {
  0% {transform: scale(1)}
  99.9% {transform: scale(.5)}
  100% {transform: scale(1)}
}

@keyframes skip {
  0% {transform: scale(0) rotate(-23deg)}
  10% {transform: scale(1) rotate(-23deg)}
  90% {transform: scale(1) rotate(-23deg)}
  100% {transform: scale(0) rotate(-23deg)}
}

@keyframes pelaajaShake0 {
  0% {margin: 3px 7px 7px -6px; transform: scale(1.1)}
  25% {margin: -4px -10px 6px -5px}
  50% {margin: -3px -7px -10px 0px}
  75% {margin: -10px 6px -6px -5px}
  100% {margin: 6px -8px -2px -8px; transform: scale(1)}
}

@keyframes pelaajaShake1 {
  0% {margin: -1px 2px 4px -9px; transform: scale(1.1)}
  25% {margin: -7px 5px -5px 5px}
  50% {margin: 3px 1px -3px 6px}
  75% {margin: 2px 8px -6px -8px}
  100% {margin: -9px 8px 2px -6px; transform: scale(1)}
}

@keyframes bodyBlood {
  0% {background-color: #4b0b0b}
  100% {background-color: #151515}
}

@keyframes bodyHp {
  0% {background-color: #0b4b0b}
  100% {background-color: #151515}
}

@keyframes voittoIkkuna {
  0% { transform: translateX(-50%) translateY(-50%) scale(0)}
  50% { transform: translateX(-50%) translateY(-50%) scale(0)}
  60% { transform: translateX(-50%) translateY(-50%) scale(0.84)}
  70% { transform: translateX(-50%) translateY(-50%) scale(1.15)}
  75% { transform: translateX(-50%) translateY(-50%) scale(1.14)}
  100% {transform: translateX(-50%) translateY(-50%) scale(1.00)}
}

@keyframes tummentuma {
  0% {opacity: 0; transform: scale(1)}
  100% {opacity: 1; transform: scale(1)}
}

@keyframes vihollinenKuolee {
  0% {z-index: -1; left: 4px; top: 0px}
  1% {left: -7px; top: 1px}
  2% {left: -5px; top: 8px}
  3% {left: 3px; top: 3px}
  4% {left: -3px; top: -2px}
  5% {left: 1px; top: -1px}
  6% {left: 3px; top: -1px}
  7% {left: -2px; top: -8px}
  8% {left: -4px; top: -5px}
  9% {left: -3px; top: -9px}
  11% {left: 9px; top: -1px}
  12% {left: 5px; top: 8px}
  13% {left: 8px; top: -4px}
  10% {left: -1px; top: -7px}
  14% {left: -9px; top: 8px}
  15% {left: 2px; top: -5px}
  16% {left: -10px; top: 6px}
  17% {left: -8px; top: 6px}
  18% {left: -10px; top: 3px}
  19% {left: -9px; top: -1px}
  20% {left: -4px; top: 3px}
  21% {left: 1px; top: -5px}
  22% {left: -8px; top: 3px}
  23% {left: 6px; top: -2px}
  24% {left: 9px; top: 7px}
  25% {left: 3px; top: 9px}
  26% {left: 3px; top: -3px}
  27% {left: 10px; top: 5px}
  28% {left: -4px; top: 3px}
  29% {left: -9px; top: 6px}
  30% {left: -4px; top: 2px}
  31% {left: -6px; top: -2px}
  32% {left: -7px; top: 10px}
  33% {left: 6px; top: 2px}
  34% {left: 6px; top: -7px}
  35% {left: -2px; top: 3px}
  36% {left: -6px; top: 3px}
  37% {left: -6px; top: 4px}
  38% {left: 9px; top: 7px}
  39% {left: -1px; top: -3px}
  40% {left: null; top: 0px}
  50% {margin: 3px}
  59% {margin: -800px -165px 0px -165px}

  100% {
    margin: -800px -165px 0px -165px;
    z-index: -1;
  }
}

@keyframes piilotaSlotPopup {
  0% {opacity: .95;}
  99.9% {opacity: .95;}
  100% {opacity: 0;}
}