body {
  position: absolute;
  background-color: var(--ruudun-bg);
  overflow: hidden;
  animation-duration: 0.6s;
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

/* =====================================
========  Taistelu Ruutu Alkaa =========
===================================== */

#taisteluRuutu.vihu #vihollinen {
  box-shadow: inset 0 0 53px -3px #000000, 0 0 20px 7px #ffffff1f;
}

#taisteluRuutu.vihu #slotBox {
  opacity: .3;
}
#taisteluRuutu.vihu #hotbar {
  opacity: .3;
}
#taisteluRuutu.vihu .PelaajanExpBg {
  opacity: .3;
}
#taisteluRuutu.vihu #lvlBox {
  opacity: .3;
}
#taisteluRuutu.vihu #luovutaBox {
  opacity: .3;
}


#popUpDmg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

.dmgPopUp {
  position: absolute;
  font-size: 50px;
  z-index: 2;
  animation-name: drop2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: left 3s cubic-bezier(0.28, 0.72, 0.58, 1), transform 1.5s;
  font-family: font1;
  pointer-events: none;
  color: var(--dmg-text-vari);
  text-shadow: var(--dmg-text-varjo)
}
.dmgPopupHp {
  font-size: 70px;
  color: var(--hp-text-vari);
  text-shadow: var(--hp-text-varjo);
}
.dmgPopUpCrit {
  font-size: 70px;
  color: var(--dmg-crit-text-vari);
  text-shadow: var(--dmg-crit-text-varjo);
}
.skippedTextPopup {
  position: absolute;
  font-size: 76px;
  transform: rotate(-23deg);
  z-index: 2;
  font-family: font1;
  pointer-events: none;
  color: #fff;
  text-shadow: 0 0 9px #00000085, 5px 5px #969696, 5px 5px 9px #00000091;
  left: -75px;
  top: 103px;
  animation-fill-mode: forwards;
  animation-name: skip;
  animation-duration: 1.4s;
  text-align: center;
  line-height: 1.35;
}

#viholliset {
  top: 100px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

.vihollinen {
  top: 0px;
  position: relative;
  width: 320px;
  height: 480px;
  background-color: var(--ruudun-bg);
  border: 5px solid var(--vihollisen-reuna);
  animation-duration: .15s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  user-select: none;
  transition: margin .15s, box-shadow .15s, background-color .2s, transform .15s, opacity .25s;
  cursor: pointer;
  margin: 3px;
  transform: scale(1);
}
.pelaaja .vihollinen:hover {
  background-color: #292929;
  box-shadow: inset 0 0 51px -4px #000000, 0px 0px #00000091;
  opacity: 1;
  /* transform: scalex(1.0484848484848484848484848484848) scaley(1.0489795918367346938775510204082); */
  transform: scalex(1.030303030303030303030303030303) scaley(1.0326530612244897959183673469388);
  top: 2px;
  /* margin: -9px; */
  z-index: 1;
  box-shadow: inset 0 0 53px -3px #000000, 0 0 26px 3px #ffffff42;
}

.vihollinenEiValittu {
  opacity: .3;
  transform: scale(0.7);
  margin: 3px -40px 3px -40px;
  cursor: unset;
  transition: filter 2s .25s, margin .25s, box-shadow .25s, background-color .2s, transform .25s, top .15s, opacity .25s;
}

.hpbg {
  position: relative;
  width: calc(100% - 23px);
  max-width: 254px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 17px;
  background: var(--ruudun-bg);
  border: 4px solid var(--hp-box-rauna);
}
.vihollisenHp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .1;
  background: var(--hp-box-ero);
}
.hpbg.down .vihollisenHp1 {
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
.vihollisenHp2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--hp-box-fill);
  opacity: .3;
}
.hpbg.up .vihollisenHp2 {
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
.vihuHpText {
  position: absolute;
  font-family: font2;
  font-size: 35px;
  top: -2px;
  width: 100%;
  text-align: center;
  color: var(--hp-maara-vari);
  text-shadow: 0 0 8px var(--hp-maara-varjo);
  opacity: 0;
  transition: .2s opacity;
  transition-delay: .05s;
}
.vihuHpText2 {
  position: absolute;
  font-family: font3;
  font-size: 38px;
  top: -10px;
  width: 100%;
  text-align: center;
  color: var(--hp-info-text-vari);
  text-shadow: 0 0 8px #a1d49fcc;
  opacity: 1;
  transition: .2s opacity;
  transition-delay: .05s;
  font-weight: 800;
}
.hpbg:hover .vihuHpText {
  opacity: 1;
  transition-delay: 0s;
}
.hpbg:hover .vihuHpText2 {
  opacity: 0;
  transition-delay: 0s;
}

.mpbg {
  position: absolute;
  width: calc(100% - 132px);
  max-width: 168px;
  height: 30px;
  left: 116px;
  top: 424px;
  background: var(--ruudun-bg);
  border: 4px solid var(--mp-box-rauna);
}
.vihollisenMp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--mp-box-ero);
  opacity: .1;
}
.mpbg.down .vihollisenMp1 {
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
.vihollisenMp2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--mp-box-fill);
  opacity: .3;
}
.mpbg.up .vihollisenMp2 {
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
.vihuMpText {
  position: absolute;
  font-family: font2;
  font-size: 35px;
  top: -2px;
  width: 100%;
  text-align: center;
  color: var(--mp-maara-vari);
  text-shadow: 0 0 8px var(--mp-maara-varjo);
  opacity: 0;
  transition: .2s opacity;
  transition-delay: .05s;
}
.vihuMpText2 {
  position: absolute;
  font-family: font3;
  font-size: 38px;
  top: -10px;
  width: 100%;
  text-align: center;
  color: var(--mp-info-text-vari);
  text-shadow: 0 0 8px #aadcff8c;
  opacity: 1;
  transition: .2s opacity;
  transition-delay: .05s;
  font-weight: 800;
}
.mpbg:hover .vihuMpText {
  opacity: 1;
  transition-delay: 0s;
}
.mpbg:hover .vihuMpText2 {
  opacity: 0;
  transition-delay: 0s;
}

.vihuNumeroContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 110px;
  height: 100px;
  overflow: hidden;
}
.vihunNumeroBg {
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: #0e0e0e;
  border-radius: 100%;
  left: -75px;
  bottom: -87px;
  border: 6px solid #464646;
  z-index: 1;
}
.vihunNumeroBg > p {
  position: absolute;
  left: 80px;
  bottom: 81px;
  color: white;
  font-family: font1;
  font-weight: 1000;
  font-size: 37px;
  width: 70px;
  text-align: left;
  transform: rotate(-8deg);
  z-index: 1;
  text-shadow: -4px -3px 0px #6b6b6b;
}

.vihollisenKuva {
  position: absolute;
  height: 320px;
  left: 50%;
  width: calc(100% - 20px);
  max-width: 250px;
  bottom: 75px;
  background-color: var(--vihollisen-kuva-box-bg);
  border: 5px solid #2f2f2f;
  transform: translateX(-50%);
  overflow: hidden;
}
.vihollisenKuva > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  top: 0px;
  pointer-events: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.vihollisenNimiBox {
  opacity: 0;
  position: absolute;
  width: max-content;
  left: 50%;
  height: max-content;
  background-color: #00000061;
  bottom: calc(100% + 10px);
  transform: translateX(-50%);
  box-sizing: border-box;
  transition: opacity .2s;
} .vihollisenNimiBox > p {
  font-family: 'font3';
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding: 0px 10px 0px 10px;
}

.vihollinen:hover .vihollisenNimiBox {
  opacity: 1
}

.slotKuva {
  position: absolute;
  width: 65px;
  max-height: 108px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: .05s;
  pointer-events: none;
  image-rendering: pixelated;
}

.valittuSlot .slotKuva {
  position: absolute;
  width: 75px;
  max-height: 128px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slotsBox {
  position: absolute;
  width: 500px;
  height: 150px;
  bottom: 10px;
  /* background-color: red; */
  left: calc(50% - 250px);
  perspective: 1000px;
  display: flex;
}
.slot {
  position: relative;
  width: 80px;
  height: 120px;
  border: 5px solid #464646;
  background-color: #313131;
  box-shadow: inset 0 0 57px 5px #000000d9;
  transition: all .05s;
  margin: 5px;
  top: 0px;
  cursor: pointer;
}

.valittuSlot {
  top: -20px;
  background-color: #171717;
  width: 100px;
  height: 150px;
  margin: 0px;
  border: 5px solid #969696;
}
.slotNumero {
  position: absolute;
  color: white;
  font-family: font1;
  font-size: 60px;
  width: 100%;
  text-align: center;
  top: 8px;
  left: 2px;
  opacity: .1;
  transition: .05s;
  pointer-events: none;
}

.tavaraLuku {
  position: absolute;
  color: white;
  font-family: font3;
  font-size: 17px;
  bottom: -1px;
  right: 2px;
  font-weight: 500;
  z-index: 5;
  color: #b9b9b9;
  transition: .05s;
}

.valittuSlot .slotNumero {
  top: 20px;
}

.valittuSlot .tavaraLuku {
  font-size: 21px;
}

#slotPopupDeley {
  position: absolute;
  width: 440px;
  left: 27px;
  height: 130px;
  top: 5px;
}

#hotbar {
  transition: opacity .25s;
}

#hpBox {
  position: absolute;
  left: 0px;
  width: calc(50% - 270px);
  height: 90px;
  background-color: #292929;
  bottom: 0px;
  border: 5px solid black;
  box-shadow: inset 0 0 60px 0px black;
}

#mpBox {
  position: absolute;
  right: 0px;
  width: calc(50% - 270px);
  height: 90px;
  background-color: #292929;
  bottom: 0px;
  border: 5px solid black;
  box-shadow: inset 0 0 60px 0px black;
}

#slotBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  height: 185px;
  background-color: #292929;
  bottom: 0px;
  border: 5px solid black;
  box-shadow: inset 0 0 60px 0px black, 0 10px 8px 4px black;
  transition: opacity .25s;
}

#pelaaja {
  position: absolute;
  animation-duration: .15s;
  width: 100%;
  height: 200px;
  bottom: 0px;
  animation-delay: .05s;
  transition: opacity .25s;
}

.PelaajanHpBg {
  position: absolute;
  width: calc(100% - 45px);
  height: 40px;
  left: 20px;
  bottom: 22px;
  background: var(--hp-box-bg);
  border: 4px solid #24d814;
  box-shadow: 0 0 5px 2px #16ff1f;
}
#PelaajanHp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(148, 255, 134) 0%, rgb(206, 255, 205) 100%);
}
#hpBox.down #PelaajanHp1 {
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
#PelaajanHp2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(60, 255, 33) 0%, rgb(108, 255, 106) 100%);
}
#hpBox.up #PelaajanHp2{
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
#pelaajaHpText {
  position: absolute;
  font-family: font2;
  font-size: 46px;
  top: -3px;
  width: 100%;
  text-align: center;
  color: #c5ffc1;
  text-shadow: 0 0 8px #afffac;
  opacity: 0;
  transition: .2s opacity;
  transition-delay: .05s;
  height: 55px;
  width: calc(100% + 2px);
  left: -11px;
  top: -12px;
  padding: 10px;
  padding-top: 9px;
  cursor: default;
}
.pelaajaHpText2 {
  position: absolute;
  font-family: font3;
  font-size: 48px;
  text-align: center;
  color: var(--hp-info-text-vari);
  text-shadow: 0 0 8px var(--hp-info-text-varjo);
  opacity: 1;
  transition: .2s opacity;
  transition-delay: .05s;
  font-weight: 800;
  height: 55px;
  width: calc(100% + 2px);
  left: -11px;
  top: -12px;
  padding: 10px;
  padding-top: 1px;
  pointer-events: none;
}
.PelaajanHpBg:hover #pelaajaHpText {
  opacity: 1;
  transition-delay: 0s;
}
.PelaajanHpBg:hover .pelaajaHpText2 {
  opacity: 0;
  transition-delay: 0s;
}

.PelaajanMpBg {
  position: absolute;
  width: calc(100% - 45px);
  height: 40px;
  right: 20px;
  bottom: 22px;
  background: linear-gradient(90deg, rgb(0, 88, 128) 0%, rgb(0, 126, 200) 100%);
  border: 4px solid #0096d8;
  box-shadow: 0 0 5px 2px #0087ff;
}
#mpBox.down #PelaajanMp1 {
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
#PelaajanMp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(91, 166, 255) 0%, rgba(190,220,255,1) 100%);
}
#mpBox.up #PelaajanMp2{
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
#PelaajanMp2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 129, 255) 0%, rgb(95, 196, 255) 100%);
}
#pelaajaMpText {
  position: absolute;
  font-family: font2;
  font-size: 46px;
  text-align: center;
  color: #aadcff;
  text-shadow: 0 0 8px #aadcff;
  opacity: 0;
  transition: .2s opacity;
  transition-delay: .05s;
  height: 55px;
  width: calc(100% + 2px);
  left: -11px;
  top: -12px;
  padding: 10px;
  padding-top: 9px;
  cursor: default;
}
.pelaajaMpText2 {
  position: absolute;
  font-family: font3;
  font-size: 48px;
  text-align: center;
  color: var(--mp-info-text-vari);
  text-shadow: 0 0 8px var(--mp-info-text-varjo);
  opacity: 1;
  transition: .2s opacity;
  transition-delay: .05s;
  font-weight: 800;
  height: 55px;
  width: calc(100% + 2px);
  left: -11px;
  top: -12px;
  padding: 10px;
  padding-top: 1px;
  pointer-events: none;
}
.PelaajanMpBg:hover #pelaajaMpText {
  opacity: 1;
  transition-delay: 0s;
}
.PelaajanMpBg:hover .pelaajaMpText2 {
  opacity: 0;
  transition-delay: 0s;
}

.PelaajanExpBg {
  position: absolute;
  width: 520px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 192px;
  background: linear-gradient(90deg, rgb(61, 0, 128) 0%, rgb(95, 0, 200) 100%);
  border: 4px solid #6d00d8;
  box-shadow: 0 0 5px 2px #7a00ff;
  transition: opacity .25s;
}
#PelaajanExp1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(162, 91, 255) 0%, rgb(225, 190, 255) 100%);
  transition: width .5s cubic-bezier(0, 0, 0.23, 0.94);
  transition-delay: 0.12s;
}
#PelaajanExp2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(157, 0, 255) 0%, rgb(157, 95, 255) 100%);
}

#lvlBox {
  position: absolute;
  width: 60px;
  height: 38px;
  background-color: #4b0093;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  border: 6px solid #2d0059;
  transition: opacity .25s;
}
#lvlText {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: font1;
  top: 3px;
  width: 100%;
  position: absolute;
}

#luovutaBox {
  position: absolute;
  left: 50%;
  margin-left: -68px;
  width: 136px;
  height: 40px;
  background-color: #474747;
  top: 5px;
  border: 1px solid #747474;
  box-shadow: inset 0 0 20px 0px black;
  transition: .15s, opacity .25s;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}
#luovutaNappi {
  color: #ababab;
  font-family: font3;
  font-size: 23px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 9px;
  pointer-events: none;
  transition: .15s;
  line-height: .8;
  font-weight: 100;
}

.pelaaja #luovutaBox:hover {
  background-color: #1d1d1d;
  border: 1px solid rgb(255, 15, 15);
}

.pelaaja #luovutaBox:hover #luovutaNappi {
  color: rgb(255, 15, 15);
}

.vihu #luovutaBox:hover {
  background-color: #1d1d1d;
  opacity: 0.4;
}

.vihu #luovutaBox:hover #luovutaNappi {
  color: rgb(170, 170, 170);
}

/* ===================================
========  Voitto Ruutu Alkaa =========
=================================== */

#ruudunTummennus {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: #000000bd;
  animation-delay: .5s;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

#voittoRuutu {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #2b2b2b;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0);
  border: 5px solid #232323;
  box-shadow: inset 0 0 60px 0px black;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  z-index: 5;
  user-select: none;
}

.voittoOtsikko {
  position: absolute;
  width: calc(100% + 20px);
  height: 100px;
  background-color: #FDD835;
  box-shadow: inset 0 0 30px black, 0 7px 15px black;
  border: 5px solid black;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
}
.voittoOtsikko > p {
  position: absolute;
  font-size: 42px;
  font-family: font1;
  font-weight: 1000;
  width: 100%;
  text-align: center;
  top: 13px;
  color: #FFEB3B;
  text-shadow: 0 0 12px #676100;
}

.tavaraOtsikko {
  position: absolute;
  width: 100%;
  height: 25px;
  left: 50%;
  transform: translateX(-50%);
  top: 115px;
}
.tavaraOtsikko > p {
  position: absolute;
  font-size: 20px;
  font-family: font3;
  font-weight: 500;
  width: 100%;
  text-align: center;
  top: 2px;
  color: #ffd400;
  text-shadow: 0 0 5px #ff7a00;
}

#voittoTavarat {
  position: absolute;
  width: calc(100% - 100px);
  height: 210px;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  background-color: #1b1b1b;
  border: 5px solid #131313;
  box-shadow: 0 0 8px 3px #0a0a0a, inset 0 0 6px 3px #101010;
}

#jatkaNappi {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 50px;
  width: 200px;
  background-color: red;
  border: 5px solid #750000;
  box-shadow: inset 0 0 20px 10px #ab0000;
  transition: .25s;
  cursor: pointer;
}
#jatkaNappi > p {
  position: absolute;
  font-family: font3;
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-weight: 900;
  letter-spacing: -1px;
  color: #ffdddd;
  text-shadow: 0 0 10px #6f0000;
  transition: .25s;
}
#jatkaNappi:hover {
  background-color: #ab0000;
  border: 5px solid #540000;
  box-shadow: inset 0 0 20px 10px #670000;
}
#jatkaNappi:hover#jatkaNappi > p {
  color: #ffa6a6;
  text-shadow: 0 0 10px #080000;
}

.aloitaAlustaNappi {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 50px;
  width: 200px;
  background-color: #06ff06;
  border: 5px solid #00c700;
  box-shadow: inset 0 0 9px 6px #13a500;
  transition: 0.25s;
  cursor: pointer;
}
.aloitaAlustaNappi:hover {
  background-color: #3fff3f;
  border: 5px solid #00d800;
  box-shadow: inset 0 0 9px 6px #17c500;
}
.aloitaAlustaNappi:hover.aloitaAlustaNappi > p {
  color: #ffffff;
  text-shadow: 0 0 8px #a3ffa7;
}

.aloitaAlustaNappi > p {
  position: absolute;
  font-family: font3;
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-weight: 900;
  letter-spacing: -1px;
  color: #ceffb5;
  text-shadow: 0 0 8px #00a007;
  transition: .25s;
}

/* ===================================
========  Häviö Ruutu Alkaa =========
=================================== */


#havioRuutu {
  position: absolute;
  width: 450px;
  height: 230px;
  background-color: #2b2b2b;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0);
  border: 5px solid #232323;
  box-shadow: inset 0 0 60px 0px black;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  z-index: 5;
  user-select: none;
}

.havioOtsikko {
  position: absolute;
  width: calc(100% + 20px);
  height: 100px;
  background-color: #fd3535;
  box-shadow: inset 0 0 30px black, 0 7px 15px black;
  border: 5px solid black;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
}
.havioOtsikko > p {
  position: absolute;
  font-size: 42px;
  font-family: font1;
  font-weight: 1000;
  width: 100%;
  text-align: center;
  top: 13px;
  color: #ff2b2b;
  text-shadow: 0 0 12px #5f0000;
}