#itemsMenu {
  display: none;
}

.itemsMenu {
  background: rgb(58, 58, 58);

  #itemsMenu {
    display: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: white;

    .navBar {
      position: absolute;
      width: 100%;
      height: 50px;
      top: 0px;
      left: 0px;
      background: black;
    }

    #itemMenuPopUp {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .container {
        position: absolute;
        z-index: 3;
        background: rgb(14, 14, 14);
        cursor: pointer;
        padding-top: 3px;
        padding-bottom: 3px;

        &:not([index=""])[index] {
          border: 2px solid rgb(0, 0, 0);
        }

        .itemInfo {
          margin-bottom: 15px;

          pre {
            background: #1e1e1e;
            border-radius: 5px;
            font-family: font3;
            font-size: 14px;
            font-weight: 500;
            padding: 0px;
            margin: 0px;
            padding: 1px 8px 5px 5px;
          }
        }

        div {
          padding: 2px 5px;
          position: relative;
        }

        p {
          left: 5px;
          margin: 0px;
          padding: 0px;
          font-family: font3;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .equipBox {
          p {
            font-weight: 600;
            color: rgb(236, 236, 236);
          }
        }

        .equipHotbar {
          transition: .1s background, .1s padding;
          padding: 0px;
          padding-right: 7px;
          padding-left: 10px;

          > p {
            transition: .1s text-shadow;
          }

          &:hover {
            background: #000000;
            padding-left: 12px;
            padding-right: 5px;

            > p {
              text-shadow: 0 0 5px currentColor;
            }
          }
          
          &.add, &.switch {
            color: rgb(73, 255, 73);
          }
          &.swap {
            color: rgb(0, 194, 0);
          }
          &.replace {
            color: rgb(255, 109, 109);
          }
          &.remove {
            color: rgb(255, 66, 255);
          }
        }
      }
    }

    .menuWindow {
      position: absolute;
      width: 100%;
      height: calc(100% - 50px);
      top: 50px;
      left: 0px;
      display: flex;
      flex-direction: row;

      .inventoryContainer {
        position: relative;
        height: 100%;
        width: calc(100% - 550px);
        background: #0f0f0f;
        overflow: hidden;
        overflow-y: auto;
        border-right: 10px solid #000;
        bottom: 0px;
        flex-shrink: 0;
  
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
  
        .inventoryBox {
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          top: 0px;
          left: 0px;
          
          [class="inv"] {
            &:hover {--color: #424242}
          }

          .inv {
            --color: #2b2b2b;
            position: relative;
            width: 70px;
            height: 70px;
            background: #171717;
            margin: 5px;
            border: 5px solid var(--color);
            transition: border .15s, background .15s;
            cursor: pointer;

            &:hover {
              background: #1f1f1f;
            }
  
            * {
              pointer-events: none;
              user-select: none;
            }
  
            img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              max-width: calc(100% - 6px);
              max-height: calc(100% - 6px);
              object-fit: contain;
              width: 1000%;
              image-rendering: pixelated;
              image-rendering: optimizespeed;
            }

            .itemAmount {
              position: absolute;
              margin: 0px;
              background: #3b3b3b;
              font-family: font2;
              font-size: 16px;
              padding-left: 9px;
              padding-right: 4px;
              padding-bottom: 0px;
              padding-top: 2px;
              text-align: right;
              clip-path: polygon(calc(0% + 9px) 0%, 100% 0%, 100% 100%, 0% 100%);
              letter-spacing: -1px;
              text-shadow: 0 0 5px black;
              min-width: 20px;
              pointer-events: none;
              right: 0px;
              bottom: 0px;
            }
          }

          .hotbar, .armor {
            .slotNum {
              transition: background .15s;
              background: var(--color);
              position: absolute;
              top: -5px;
              left: -5px;
              margin: 0px;
              padding: 0px 3px;
              height: 30px;
              width: 18px;
              font-family: font3;
              font-size: 22px;
              z-index: 1;
              text-shadow: 0 0 3px black;
              font-weight: 900;
              border-radius: 0px 0px 5px 0px;
            }
          }

          .hotbar {
            --color: #00d600;
            &:hover {--color: #00b800}
          } 
          .armor {
            --color: #008eff;
            &:hover {--color: #0067ba}
          }
        }
      }

      @at-root #itemsMenu.inv .hotbarAndArmorContainer {
        @at-root #itemsMenu:not(.inv) .hotbarAndArmorContainer {display: none}
        position: relative;
        top: 0px;
        right: 0px;
        width: 550px;
        height: 100%;
        flex-grow: 1;

        .hotbarContainer {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 100%;
          height: 180px;
          background: #171717;
          display: grid;
          place-items: center;
    
          .hotbarBox {
            display: flex;
    
            .slot {
              position: relative;
              width: 100px;
              margin: 3px;
              height: 150px;
              top: 0px;
              background: #131313;
              border: 5px solid #3d3d3d;
              box-shadow: inset 0 0 30px black;
              transition: top .15s, background .15s;
              cursor: pointer;
    
              > p {
                position: absolute;
                margin: 0px;
                color: white;
              }
    
              img {
                image-rendering: pixelated;
                image-rendering: optimizespeed;
                position: absolute;
                width: calc(100% - 10px);
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
                user-select: none;
              }

              .itemAmount {
                background: #989898;
                font-family: font2;
                font-size: 23px;
                padding-left: 18px;
                padding-right: 5px;
                text-align: right;
                clip-path: polygon(calc(0% + 15px) 0%, 100% 0%, 100% 100%, 0% 100%);
                letter-spacing: -1px;
                text-shadow: 0 0 5px black;
                min-width: 30px;
                pointer-events: none;
                right: 0px;
                bottom: 0px;
              }
    
              .slotNumber {
                pointer-events: none;
                user-select: none;
                font-family: font1;
                font-size: 75px;
                width: 100%;
                top: 4px;
                left: 4px;
                text-align: center;
                opacity: .05;
                transition: color .3s, opacity .15s;
              }
            }
          }
        }
  
        .armorContainer {
          position: relative;
          background: #212121;
          width: 100%;
          height: 400px;
          right: 0px;
          display: grid;
          place-items: center;
          background: linear-gradient(90deg, #00234b 0%, #0055ab 50%, #00234b 100%);
          border-bottom: 10px solid #000;

          .armorBox {
            position: absolute;

            .armorSlot {
              position: relative;
              width: 100px;
              height: 100px;
              background: #1d7eff;
              border: 10px solid #002248;
              margin: 10px;
  
              img {
                pointer-events: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                max-width: calc(100% - 6px);
                max-height: calc(100% - 6px);
                object-fit: contain;
                width: 1000%;
                image-rendering: pixelated;
                image-rendering: optimizespeed;
              }
            }

            .armorSlot.empty {
              opacity: .9;
              filter: grayscale(1);
            }
          }
        }
      }

      .crafting {
        position: relative;
        width: 100%;
        height: 100%;
        background: green;
        
        @at-root #itemsMenu:not(.craft) .crafting {display: none;}

      }
    }
  }
}