#levelMenu {
  display: none;
}

.levelMenu {
  background: wheat;

  #levelMenu {
    display: unset;
  }

  .levelButton {
    background: red;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;

    .info {
      background: green;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }

  .levelInfoScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0px;
    left: 0px;
    display: grid;
    place-items: center;

    .infoBox {
      background: #252222;
      pointer-events: all;
      max-height: 100%;
      max-width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .title {
        position: relative;
        width: 100%;
        height: 50px;
        background: red;
        top: 0px;
        flex-shrink: 0;

        p {
          position: absolute;
          color: white;
          font-family: font1;
          font-size: 25px;
          width: 100%;
          text-align: center;
          top: 0px;
          margin: 0px;
        }

        .close {
          background: #c50000;
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0px;
          cursor: pointer;

          .gg-close {
            pointer-events: none;
            box-sizing: border-box;
            position: relative;
            display: block;
            transform: scale(2);
            left: 13px;
            top: 14px;
            width: 22px;
            height: 22px;
            border: 2px solid #0000;
            border-radius: 40px;

            &::after, &::before {
              content: "";
              display: block;
              box-sizing: border-box;
              position: absolute;
              width: 16px;
              height: 2px;
              background: currentColor;
              transform: rotate(45deg);
              border-radius: 5px;
              top: 8px;
              left: 1px
            }
            &::after {transform: rotate(-45deg)}
          }
        }
      }

      .enemyRowContainer {
        position: relative;
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .enemyRow {
        display: flex;
        &:not(:first-child) {
          margin-top: 5px;
          border-top: 2px solid #8b8b8b;
          padding-top: 5px;
        }

        @at-root #levelMenu .enemyCard {
          display: flex;
          margin: 5px;
          background: #424242;
          position: relative;
          flex-direction: column;
          height: 162px;
          width: 130px;
          overflow: hidden;
          flex-shrink: 0;
    
          > img {
            width: 100%;
            image-rendering: optimizespeed;
            image-rendering: pixelated;
            position: relative;
            margin: 0 auto;
            clip-path: inset(0 calc(50% - 80px) 0 calc(50% - 80px));
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }

        @at-root #levelMenu .dropTree {
          display: flex;
          margin: 10px 0px 0px;
          padding-right: 5px;

          .row, .items {
            position: relative;
            display: flex;
            height: fit-content;

            &::before, &::after {position: absolute}
            &::after {
              left: 50%;
              transform: translateX(-50%);
              padding: 0px 6px;
              top: -10px;
              content: attr(percentage)"%";
              text-align: center;
              font-family: font3;
              font-weight: 200;
              color: #fff;
              border-right: 2px solid #fff;
              border-left: 2px solid #fff;
            }
            &::before {
              left: 0px;
              right: 0px;
              height: 10px;
              top: -1px;
              content: "";
              border: 2px solid #fff;
              border-bottom: 0px solid #0000;
            }
          }

          .row {
            margin: 0px 3px;
            background: #2f2f2f;
            padding: 3px 5px 8px;
            &::after {background: #1f1f1f}
            &::before {border-style: dashed}
          }
          
          .items {
            margin: 23px 3px 0px;
            padding: 10px 5px 5px;
            background: #808080;
            @at-root #levelMenu .dropTree > .items {margin-top: 0px}

            .amount {
              display: flex;
              flex-direction: column-reverse;
              height: max-content;
              .slot:not(:last-child) {filter: brightness(0.8)}
              .slot:not(:first-child) {
                margin-bottom: -54px;
                box-shadow: 0 7px 4px -3px #000000a1;
              }
            }

            .slot {
              position: relative;
              width: 70px;
              height: 70px;
              background: #171717;
              margin: 5px;
              border: 5px solid #2b2b2b;
          
              * {
                position: absolute;
                pointer-events: none;
              }
          
              img {
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                max-width: calc(100% - 6px);
                max-height: calc(100% - 6px);
                object-fit: contain;
                width: 1000%;
                image-rendering: pixelated;
                image-rendering: optimizespeed;
              }
          
              p {
                margin: 0px;
                background: #434343;
                font-family: font2;
                font-size: 16px;
                padding-left: 8px;
                padding-right: 2px;
                text-align: right;
                clip-path: polygon(calc(0% + 8px) 0%, 100% 0%, 100% 100%, 0% 100%);
                letter-spacing: -1px;
                text-shadow: 0 0 5px black;
                min-width: 17px;
                pointer-events: none;
                right: 0px;
                bottom: 0px;
                width: unset;
                color: white;
              }
            }
      
            &::after {
              padding: 0px 4px;
              background: #565656;
            }
          }
        }
      }
    }
  }
}